<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Welcome to Angularjs</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
 </head>
<body>
	Name: <input type="text" ng-model="name"/> {{name}} <br/>
	<div ng-init="customers=[{name:'Marcelo',city:'Campinas'},{name:'Fernando',city:'Sao Paulo'},{name:'Marcela',city:'Belo Horizonte'}]">
		<ul>
			<li ng-repeat="cust in customers | filter:name | orderBy:'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase  }}</li>
		</ul>

	</div>

</body>
</html>
