<!DOCTYPE html>
<html ng-app="demoApp">
<head>
	<title>Welcome to Angularjs</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
 </head>
<body>
	<div ng-controller="SimpleController">
		Name: <input type="text" ng-model="name"/> {{name}} <br/>
		<ul>
			<li ng-repeat="cust in customers | filter:name | orderBy:'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase  }}</li>
		</ul>
	
	</div>
	<script>
		// doesnt have to be the same name as the variable -->
		// empty [] : "I have no dependence that I need to worry about"
		var demoApp = angular.module('demoApp',[]);
		function SimpleController($scope){
			$scope.customers = [
				{name:'Marcelo',city:'Campinas'},
				{name:'Fernando',city:'Sao Paulo'},
				{name:'Marcela',city:'Belo Horizonte'}
			];
		}
		demoApp.controller('SimpleController',SimpleController);
	</script>
</body>
</html>
